/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.02.2020, 16:29:51
    Author     : Admin
*/

/*
@media (max-width: 767.98px) {

    #datepicker {
        float: left;
    }
}
*/

a#logo {
    font-family: 'Montserrat', sans-serif;
}

.g-bg-map {
    background: url('../img/header.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.g-bg-persons {
    background: url('../img/persons.jpg') no-repeat;
    background-size: cover;
}
.g-bg-events {
    background: url('../img/events.jpg') no-repeat;
    background-size: cover;
}
.y-t-date-button {
    background-color: #7f2947;
    color: #ffffff;
    border: none;
    padding: 8px 25px !important;
    transition: 0.25s;
}
.y-t-date-button:hover {
    color: #ffffff !important;
    background-color: #552133;
}
.u-heading-v2-3--bottom::after {
    border-color: #7f2947 !important;
}
.header-block-title {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.event-button {
    display: block;
    width: max-content;
    margin-top: 25px;
    background-color: #7f2947;
    color: #ffffff;
    border: none;
    padding: 8px 25px !important;
    transition: 0.25s;
    border-radius: 25px;
    text-decoration: none !important;
}
.event-button:hover {
    background-color: #552133;
    color: #ffffff;
}
.u-header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.person-block-custom-annotation p {
    text-align: justify;
}
.person-header-name {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.p404-main {
    font-size: 62pt;
    color: #7f2947;
    font-weight: 300;
}
.p404-title {
    font-size: 16pt;
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
}
.p404-text {
    color: #868686;
    font-size: 12pt;
    font-weight: 400;
}
.p404-button {
    display: block;
    width: max-content;
    margin: 25px auto 0 auto;
    background-color: #7f2947;
    color: #ffffff;
    border: none;
    padding: 8px 25px !important;
    transition: 0.25s;
    border-radius: 25px;
    text-decoration: none !important;
}
.p404-button:hover {
    background-color: #552133;
    color: #ffffff;
}
.p404-block {
    padding: 100px 0;
}
.hamburger {
    margin-top: -3px !important;
}
@media (max-width: 396px) {
    .navbar-brand {
        font-size: 1rem;
    }
    .navbar-brand div {
        margin-top: 5px;
    }
}
@media (max-width: 350px) {
    .navbar-brand {
        font-size: 0.8rem;
    }
    .navbar-brand div {
        margin-top: 8px;
    }
}